<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main/styles.css">
    <title>Lyric Generator</title>
</head>
<body>
    <div>
        <h1>Lyric Generator</h1>
        <h2> <%= genreStory %> </h2>
    </div>
    
    <form method="get">
        <input type="text" id="artistInput" name="artist">
        <input type="text" id="songInput" name="song">
    </form>
    <p> <%= lyrics %> </p>
</body>
</html>